<h1>Confirmation e-mail</h1>

<p>
    Merci de confirmer votre mail en suivant le lien ci-dessous : <br><br>
    <a href="{{ signedUrl }}">Confirm my Email</a>.
    Le lien expire dans : {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    A bientôt !
</p>
