// spacing elements
$gutter-big:1.5rem;
$gutter-medium: 1rem;
$gutter-small: .5rem;
$gutter-Xsmall: .2rem;

// backgrounds
$darkBlack: #212529;
$mediumBlack: #343A40;
$lightBlack:#495057;
$darkBlue:#1d3557;
$mediumBlue:#457B9D;
$lightblue:#a8dadc;

// elements
$red:#B63030;
$green:#2ECC71;
$orange:#FCA311;
// Typo
$darkGray: #6C757D;
$mediumGray: #CED4DA;
$lightGray: #E9ECEF;
$lightWhite: #F8F9FA;
